In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./TFP.csv')
df.head(2)

,Unnamed: 0,Line_name,Line_ID,Age,Project_TFP,lines_counts,Year,TFP,Cur_flow,Days_repairs,Cur_age,1_year_repairs,2_year_repairs,1_year_flow,2_year_flow,Repairs_per_line
0,0,КС Ямбургская – КС Правохеттинская,1,1989.58,227.0,12,2012,173.0,NaN,NaN,22.42,NaN,NaN,NaN,NaN,NaN
1,1,КС Ямбургская – КС Правохеттинская,1,1989.58,227.0,12,2013,178.0,155.1,NaN,23.42,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(28, 16)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        28 non-null     int64
 1   Line_name         28 non-null     object
 2   Line_ID           28 non-null     int64
 3   Age               28 non-null     float64
 4   Project_TFP       28 non-null     float64
 5   lines_counts      28 non-null     int64
 6   Year              28 non-null     int64
 7   TFP               28 non-null     float64
 8   Cur_flow          24 non-null     float64
 9   Days_repairs      16 non-null     float64
 10  Cur_age           28 non-null     float64
 11  1_year_repairs    12 non-null     float64
 12  2_year_repairs    8 non-null      float64
 13  1_year_flow       20 non-null     float64
 14  2_year_flow       16 non-null     float64
 15  Repairs_per_line  16 non-null     float64
dtypes: float64(11), int64(4), object(1)
memory usage: 3.6+ KB

In [5]:
df['Year'].unique()

array([2012, 2013, 2014, 2015, 2016, 2017, 2018])

In [6]:
df.loc[df['Year'].isin([2012]),['Line_ID', 'TFP']]

    Line_ID    TFP
0         1  173.0
7         2   90.8
14        3  354.0
21        4  324.2

In [7]:
def out_df(dataf: pd.DataFrame):
    sum_val=pd.merge(dataf.loc[dataf['Year'].isin([2012]),['Line_ID','Line_name', 'TFP']], dataf.loc[dataf['Year'].isin([2013]),['Line_ID', 'TFP']],on='Line_ID',how='inner')
    sum_val.rename(columns={'TFP_x': '2012', 'TFP_y': '2013'}, inplace=True)
    for i in dataf['Year'].unique()[2:]:
        sum_val=pd.merge(sum_val, dataf.loc[df['Year'] == i,['Line_ID', 'TFP']],on='Line_ID',how='inner')
        sum_val.rename(columns={'TFP': str(i)}, inplace=True)
    return sum_val

In [8]:
sum_v = out_df(df)
sum_v

,Line_ID,Line_name,2012,2013,2014,2015,2016,2017,2018
0,1,КС Ямбургская – КС Правохеттинская,173.0,178.0,171.7,170.7,169.9,166.3,168.3
1,2,КС Пуровская – КС Правохеттинская,90.8,88.9,91.6,85.3,87.2,84.5,86.4
2,3,КС Правохеттинская – КС Сосновская,354.0,353.7,354.6,354.5,339.2,340.1,351.2
3,4,КС Сосновская – КС Таежная,324.2,329.9,330.8,335.4,329.6,329.0,319.6

In [13]:
sum_v.to_csv ('export_TVP.csv', encoding = 'utf-8', index=False)

In [12]:
sum_v.to_csv('../TeX/TVP.csv', encoding = 'utf-8', index=False, header=False, sep='|')

In [18]:
sum_v[['Line_name', '2012']].head()

                            Line_name   2012
0  КС Ямбургская – КС Правохеттинская  173.0
1   КС Пуровская – КС Правохеттинская   90.8
2  КС Правохеттинская – КС Сосновская  354.0
3          КС Сосновская – КС Таежная  324.2