# Модель ТВП участков ГТС

### Импорт библиотек

In [8]:
import numpy as np
import pandas as pd
import datetime

from matplotlib import pyplot as plt
import seaborn as sns

 ## поля датасета

- 'LineName' - имя участка,
- 'LineID' - номер участка в РТП,
- 'TFP' - технически возможная производительность млрд.м3/год, 
- 'Year' - год для которого внесены значения
- 'Age' - возраст участка, 
- 'Project_TFP' - проектная производительность,
- 'Days_repairs' - продолжительность ремонтных работ на участке в этом году,
- '1_year_repairs' - продолжительность ремонтных работ на этом участке годом ранее, _**вычислить**_
- '2_year_repairs' - продолжительность ремонтных работ на этом участке двумя годами ранее, _**вычислить**_
- 'Cur_flow' - величина фактического потока по участку в этом году,
- '1_year_flow' - величина фактического потока по участку годом ранее, _**вычислить**_
- '2_year_flow' - величина фактического потока по участку двумя годами ранее _**вычислить**_

In [69]:
df = pd.read_csv('./TFP.csv')

In [70]:
df.head(2)

,Line_name,Line_ID,Age,Project_TFP,lines_counts,Year,TFP,Cur_flow,Days_repairs
0,КС Ямбургская – КС Правохеттинская,1,1989.58,227.0,12,2012,173.0,NaN,NaN
1,КС Ямбургская – КС Правохеттинская,1,1989.58,227.0,12,2013,178.0,155.1,NaN

In [71]:
# df['Cur_age'] = df['Year'] - df['Age']

In [72]:
# df.head(5)

,Line_name,Line_ID,Age,Project_TFP,lines_counts,Year,TFP,Cur_flow,Days_repairs,Cur_age
0,КС Ямбургская – КС Правохеттинская,1,1989.58,227.0,12,2012,173.0,NaN,NaN,22.42
1,КС Ямбургская – КС Правохеттинская,1,1989.58,227.0,12,2013,178.0,155.1,NaN,23.42
2,КС Ямбургская – КС Правохеттинская,1,1989.58,227.0,12,2014,171.7,141.9,253.0,24.42
3,КС Ямбургская – КС Правохеттинская,1,1989.58,227.0,12,2015,170.7,142.2,10.0,25.42
4,КС Ямбургская – КС Правохеттинская,1,1989.58,227.0,12,2016,169.9,135.2,NaN,26.42

In [73]:
def func_1_year_repairs(ds):
    for u in df['Line_name'].unique().tolist():
        for i in df.loc[df['Line_name'] == u].index.tolist()[1:]:
            df.at[i, '1_year_repairs'] = df.loc[i-1, 'Days_repairs']

In [76]:
def func_2_year_repairs(ds):
    for u in df['Line_name'].unique().tolist():
        for i in df.loc[df['Line_name'] == u].index.tolist()[2:]:
            df.at[i, '2_year_repairs'] = df.loc[i-2, 'Days_repairs']

In [79]:
def func_1_year_flow(ds):
    for u in df['Line_name'].unique().tolist():
        for i in df.loc[df['Line_name'] == u].index.tolist()[1:]:
            df.at[i, '1_year_flow'] = df.loc[i-1, 'Cur_flow']

In [80]:
def func_2_year_flow(ds):
    for u in df['Line_name'].unique().tolist():
        for i in df.loc[df['Line_name'] == u].index.tolist()[2:]:
            df.at[i, '2_year_flow'] = df.loc[i-2, 'Cur_flow']

In [83]:
# func_1_year_repairs(df)
# func_2_year_repairs(df)
# func_1_year_flow(df)
# func_2_year_flow(df)

In [85]:
# df['Repairs_per_line'] = df['Days_repairs'] / df['lines_counts']

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 15 columns):
Line_name           28 non-null object
Line_ID             28 non-null int64
Age                 28 non-null float64
Project_TFP         28 non-null float64
lines_counts        28 non-null int64
Year                28 non-null int64
TFP                 28 non-null float64
Cur_flow            24 non-null float64
Days_repairs        16 non-null float64
Cur_age             28 non-null float64
1_year_repairs      12 non-null float64
2_year_repairs      8 non-null float64
1_year_flow         20 non-null float64
2_year_flow         16 non-null float64
Repairs_per_line    16 non-null float64
dtypes: float64(11), int64(3), object(1)
memory usage: 3.4+ KB

In [88]:
df.to_csv('./TFP.csv')