# Модель ТВП участков ГТС

### Импорт библиотек

In [2]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
import seaborn as sns

 ## поля датасета

- 'LineName' - имя участка,
- 'LineID' - номер участка в РТП,
- 'TFP' - технически возможная производительность млрд.м3/год, 
- 'Year' - год для которого внесены значения
- 'Age' - возраст участка, 
- 'Project_TFP' - проектная производительность,
- 'Days_repairs' - продолжительность ремонтных работ на участке в этом году,
- '1_year_repairs' - продолжительность ремонтных работ на этом участке годом ранее, _**вычислить**_
- '2_year_repairs' - продолжительность ремонтных работ на этом участке двумя годами ранее, _**вычислить**_
- 'Cur_flow' - величина фактического потока по участку в этом году,
- '1_year_flow' - величина фактического потока по участку годом ранее, _**вычислить**_
- '2_year_flow' - величина фактического потока по участку двумя годами ранее _**вычислить**_

In [60]:
df = pd.DataFrame({'LineName':['Бованенково-Ухта'], 
                   'LineID': [98], 
                   'TFP':[120], 
                   'Year': [2019], 
                   'Age':[10], 
                   'Project_TFP':[120],
                   'Days_repairs':[137],
                   'Cur_flow':[110]})

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 8 columns):
LineName        1 non-null object
LineID          1 non-null int64
TFP             1 non-null int64
Year            1 non-null int64
Age             1 non-null int64
Project_TFP     1 non-null int64
Days_repairs    1 non-null int64
Cur_flow        1 non-null int64
dtypes: int64(7), object(1)
memory usage: 192.0+ bytes

In [43]:
df.head()

,LineName,LineID,TFP,Year,Age,Project_TFP,Days_repairs,1_year_repairs,2_year_repairs,Cur_flow,1_year_flow,2_year_flow
0,Бованенково-Ухта,98,120,2019,10,120,137,120,110,110,110,110

In [62]:
df.loc[1] = {'LineName': 'Бованенково-Ухта', 
                   'LineID': 98, 
                   'TFP': 120, 
                   'Year': 2018, 
                   'Age': 9, 
                   'Project_TFP': 120,
                   'Days_repairs': 120,
                   'Cur_flow': 110}

In [63]:
df.head()

,LineName,LineID,TFP,Year,Age,Project_TFP,Days_repairs,Cur_flow
0,Бованенково-Ухта,98,120,2019,10,120,137,110
1,Бованенково-Ухта,98,120,2018,9,120,120,110

In [64]:
df.to_csv('Lines.csv', index=False)